body {
  background-color: #4e4e4e;
  margin: 0;
  padding: 1%;
  font-family: arial;
  color: white;
  text-align: center;
}

.pages {
  width: 100%;
  height: 1500px;
  border: solid rgb(255, 0, 0) 2px;
  margin: 1% 0;
  border-radius: 12px;
  box-shadow: 0 0 6px 3px rgba(255, 0, 0, 0.4);
}
.firstpage {
  display: flex;
  flex-direction: row;
  height: 98vh !important;
  justify-content: space-around;
  background-image: url(./abstractFirstPic.jpg);
}
.h1div {
  width: 70%;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
h1 {
  width: fit-content;
}
.ptrDiv {
  width: 30%;
  margin: auto;
}
.ptr {
  width: 80%;
  height: auto;
  border-radius: 50% 20% 50% 90%;
  border: solid rgba(149, 241, 0, 0.8) 6px;
  box-shadow: 0 0 6px 3px rgba(157, 255, 0, 0.4);
}

.bottomText {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 3%;
  width: 90%;
}

.secondpage {
  padding: 3% 0;
  background-image: linear-gradient(
    to bottom,
    #63422c,
    #4f3923,
    #3c301c,
    #2b2617,
    #1d1c12,
    #1d1c12,
    #1c1b12,
    #1c1b12,
    #292417,
    #382d1d,
    #493623,
    #5b3e2c
  );
}
.mediaH1 {
  margin: auto;
}

.media {
  width: 95%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.descContent,
.descTitle {
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
  padding: 4px 2px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.mediadivs {
  width: 100%;
  height: fit-content;
  border: solid rgba(255, 255, 255, 0.5) 3px;
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.4);
  padding: 2% 0;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.3);
}

.icon {
  width: 30%;
  height: fit-content;
  border: solid rgba(255, 255, 255, 0.3) 3px;
  border-radius: 15px;
  background-image: radial-gradient(
    circle,
    #493223,
    #473421,
    #453620,
    #423820,
    #3f3a20,
    #3f3a20,
    #3f3a20,
    #3f3a20,
    #423820,
    #453620,
    #473421,
    #493223
  );
}

.content {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.audio {
  padding: 5% 0;
}

iframe {
  border-radius: 15px;
  max-width: 99% !important;
}
.summary {
  border: 1px solid white;
  border-radius: 15px;
  padding: 2%;
}
.personlMediaBiography {
  margin: 5% auto;
  color: white;
}

.img {
  width: auto;
  height: 98% !important;
  border-radius: 15px;
  max-width: 99% !important;
}

@media (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }
  .mediadivs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .icon {
    width: 95%;
    height: fit-content;
    margin: 2% auto;
  }
  .secondpage {
    margin-top: 2%;
    height: fit-content;
  }
  .mediaH1 {
    font-size: large;
    margin: 3% auto;
  }
  .personlMediaBiography {
    font-size: large;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: smaller;
  }
}
